<app-menu></app-menu>
<!-- <h2>HOLA</h2> -->
<!-- <br>
    origen : {{origen}} -->
    <!-- {{Tarjetas | json}} 
    {{Empleado | json}} -->
    <br><hr>
    <div class="container">
        <h1 class="text-center">{{titulo}}</h1>
        <span class="text-center">  Fecha : {{fecha}} </span>
    <br>
<table class="table table-bordered text-center">
    <thead>
    <tr>
        <td>Fecha</td>
        <td>Tarjeta</td>
        <td>Estado</td>
        <td>Hora</td>
        <td  *ngIf="origen == 'empleado'">Nombre</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tarjeta of Tarjetas">
        <td>{{tarjeta.Fecha}}</td>
        <td>{{tarjeta.Tarjeta}}</td>
        <td>{{tarjeta.Ingreso}}</td>
        <td>{{tarjeta.Hora}}</td>
        <td *ngIf="origen == 'empleado'" >{{tarjeta.nombre}}</td>
    </tr>
    </tbody>
</table>
</div>
<!-- {{Empleado | json}} 
//fecha , tarjeta , (ingreo o salio == estado) , hora   CLIENTE
-->
