<H1> DATA </H1>
<table border="2px">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Luz</th>
      <th>RFID</th>
      <th colspan="2">acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items ">
      <td>{{item.id}}</td>
      <td>{{item.Fecha}}</td>
      <td>{{item.Luz}}</td>
      <td>{{item.RFID}}</td>
      <td>
        <button (click)="updateItem(item)">Actualizar</button>
        <button (click)="remove(item)"> Eliminar</button>
      </td>
    </tr>
</table>
<app-unit-funcion></app-unit-funcion>
<!-- <ul>
    <li *ngFor="let item of items">
      {{item | json}}
    </li>
</ul> -->
  <!-- {{items | json}} -->
  <!-- {{a | json}} -->