.circulo {
    margin:auto;
    text-align: center;
    width: 100px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /* background: #5cb85c; */
    float: left;
}
h1 {
    margin:auto;
    margin-top: 15%;
    text-align: center;
    width: 60px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: aliceblue;
}

.total{
    background-color: chartreuse;
}

.cliente{
    background-color:blue;
}

.empleado{
    background-color: orange;
}


td{
    margin: auto;
}