<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<table>
  <thead>
    <tr>
      <th><h2>Total</h2></th>
      <th><h2>Empleado</h2> </th>
      <th><h2>Cliente</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="circulo total">
          
          <h1>
            <br>{{entradas.total}}</h1>
        </div>
      </td>
      <td>
        <div class="circulo empleado">
          
          <h1><br>{{entradas.empleados}}</h1>
        </div>
      </td>
      <td>
        <div class="circulo cliente">
         
          <h1><br>{{entradas.clientes}}</h1>
        </div>
      </td>
    </tr>
</table>
