
<table>
  <thead>
    <tr>
      <th><h2>Total</h2></th>
      <th><h2>Empleado</h2> </th>
      <th><h2>Cliente</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="circulo total">
          
          <h1>
            <br>{{total}}</h1>
        </div>
      </td>
      <td>
        <div class="circulo empleado">
          
          <h1><br>{{empleados}}</h1>
        </div>
      </td>
      <td>
        <div class="circulo cliente">
         
          <h1><br>{{clientes}}</h1>
        </div>
      </td>
    </tr>
</table>
