<br>
<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
  <div class=" form-group">
    <label for="id">Id</label><br>
    <input type="text" class="form-control" name="id" #hora="ngModel" [(ngModel)]="service.select.id"
        placeholder="Add A id">
  </div>
  <div class=" form-group">
    <label for="Fecha">Fecha</label><br>
    <input type="text" class="form-control" name="Fecha" #hora="ngModel" [(ngModel)]="service.select.Fecha"
        placeholder="Add A Fecha">
  </div>
  <div class="form-group">
    <label for="RFID">RFID</label><br>
    <input type="text" class="form-control" name="RFID" #valor="ngModel" [(ngModel)]="service.select.RFID"
      placeholder="Add A RFID">
  </div>
  <div class="form-group">
    <label for="Luz">Luz</label><br>
    <input type="text" class="form-control" name="Luz" #count="ngModel" [(ngModel)]="service.select.Luz"
      placeholder="Add A Luz">
  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      <i class="fas fa-plus-circle"></i> Agregar o Actualizar
    </button>
    <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
        <i class="fas fa-sync-alt"></i> Reset
    </button>
  </div>
</form>
